/* common styles */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(229, 84, 115, 0.1);
  padding: 0 100px 0 100px;
}
.flower-pic {
  width: 65%;
  height: 100%;
  margin-top: 100px;
  margin-left: 240px;
}
.banner-image {
  width: 45%;
}
.banner-content {
  width: 45%;
}
.banner-greeting {
  color: #272727;
  font-size: 70px;
  font-style: normal;
  /* margin-left: 240px;
    margin-top: 197px; */
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.btn-primary {
  border-radius: 5px;
  border: none;
  background: #e55473;
  padding: 20px 43px;
  color: white;
  font-weight: bold;
}
.flower-section {
  margin-top: 100px;
}
.featured-flower {
  text-align: center;
  font-size: 40px;
  color: #272727;
}
.flower-description {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0px 40px 0px;
}
.featured-section {
  display: flex;
  justify-content: space-around;
  margin: 0 150px 0 150px;
}
.picture-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 350px;
  height: 450px;
}
.picture-1 img {
  width: 250px;
  height: 300px;
  margin-top: 150px;
  margin-left: 40px;
}
.picture-2 img {
  width: 250px;
  height: 300px;
  margin-top: 100px;
  margin-left: 40px;
  margin-bottom: 60px;
}
.picture-3 img {
  width: 250px;
  height: 300px;
  margin-top: 150px;
  margin-left: 40px;
}
.picture-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 350px;
  height: 450px;
}
.picture-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 350px;
  height: 450px;
}
.flower-name {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
/* 3rd section */
.support-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 170px 100px 170px;
  background: rgba(39, 39, 39, 0.05);
  padding: 80px 100px 80px 100px;
}
.support-box {
  text-align: center;
}
.support-box p {
  margin-top: 15px;
  color: rgba(39, 39, 39, 0.8);
  font-style: normal;
  font-weight: 600;
}
/* 4th section */
.hot-deal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 150px;
  margin-bottom: 100px;
}
.hot-deal-text {
  text-align: center;
}
.hot-deal-text h3 {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
}
.hot-deal-text span {
  color: #e55473;
}
.hot-deal-text p {
  margin: 30px 0 20px 0;
  color: rgba(39, 39, 39, 0.6);
}
/* 4th section */
.insta {
  text-align: center;
  margin-bottom: 100px;
}
.insta-text h3 {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
}
.insta-text p {
  color: rgba(39, 39, 39, 0.6);
  margin: 24px 0;
}
